@model IEnumerable<firstAppOfMVC.Models.UsuarioModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Novo Usuario", "AdicionaUsuario")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nascimento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sobrenome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nascimento)
        </td>
        <td>
            @Html.ActionLink("Edit", "AtualizaUsuario", new { id = item.id }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id = item.id }) |
            @Html.ActionLink("Delete", "DeletaUsuario", new { id = item.id })
        </td>
    </tr>
}

</table>
